{% extends 'layout.html' %}
{% block content %}
    <div class="container">
        <h4>Добавление нового статуса</h4>
        <form method="post" action="{% if form.instance.id %}{% url 'status_update' form.instance.id %}{% else %}{% url 'status_create' %}{% endif %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="waves-effect waves-light btn" type="submit">{% if form.instance.id %}Обновить{% else %}Добавить{% endif %} статус</button>
        </form>
    </div>
{% endblock %}