{% extends 'layout.html' %}
{% load i18n %}

{% block content %}
  <h2>{{ title }}</h2>
  <a href="{% url 'label_create' %}" class="waves-effect waves-light btn">{{ btn_text }}</a>
  <table class="highlight">
    <thead>
      <tr>
        <th>{% translate 'Имя' %}</th>
        <th>{% translate 'Действия' %}</th>
      </tr>
    </thead>
    <tbody>
      {% for label in labels %}
        <tr>
          <td>{{ label.name }}</td>
          <td>
            <a href="{% url 'label_update' pk=label.pk %}" class="waves-effect waves-light btn-small">{% translate 'Изменить' %}</a>
            <a href="{% url 'label_delete' pk=label.pk %}" class="waves-effect waves-light btn-small red">{% translate 'Удалить' %}</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}