{% extends 'layout.html' %}

{% block content %}
  <h2>Label List</h2>
  <table class="highlight">
    <thead>
      <tr>
        <th>Label Name</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for label in labels %}
        <tr>
          <td>{{ label.name }}</td>
          <td>
            <a href="{% url 'label_update' pk=label.pk %}" class="waves-effect waves-light btn-small">Edit</a>
            <a href="{% url 'label_delete' pk=label.pk %}" class="waves-effect waves-light btn-small red">Delete</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <a href="{% url 'label_create' %}" class="waves-effect waves-light btn">Create Label</a>
{% endblock %}