{% extends "layout.html" %}
{% load i18n %}

{% block content %}
  <div class="row">
    <h2 class="col s12">{% trans "Login" %}</h2>
    <form class="col s12" method="post" action="{% url 'login' %}">
      {% csrf_token %}
      <div class="row">
        <div class="input-field col s12">
          {{ form.username }}
          <label for="{{ form.username.id_for_label }}">{% translate "Username" %}</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          {{ form.password }}
          <label for="{{ form.password.id_for_label }}">{% translate "Password" %}</label>
        </div>
      </div>
      <button class="btn waves-effect waves-light" type="submit" name="action">
        {% trans "Login" %}
      </button>
    </form>
  </div>
{% endblock %}