{% extends 'layout.html' %}
{% load i18n %}

{% block content %}
  <div class="container">
    <h2>{{ title }}</h2>
    <a class="btn" href="{% url 'task_create' %}">{{ btn_text }}</a>

    <div>
        <form method="get">
            {{ filter.form }}
            <br>
            <button class="btn waves-effect waves-light" type="submit">{% translate 'Показать' %}</button>
        </form>
    </div>
    <table class="highlight">
      <thead>
        <tr>
          <th>ID</th>
          <th>Имя</th>
          <th>Статус</th>
          <th>Автор</th>
          <th>Исполнитель</th>
          <th>Действия</th>
        </tr>
      </thead>
      <tbody>
        {% for task in tasks %}
          <tr>
            <td>{{ task.id }}</td>
            <td><a href="{% url 'task_detail' pk=task.pk %}">{{ task.name }}</a></td>
            <td>{{ task.status }}</td>
            <td>{{ task.author.username }}</td>
            <td>{{ task.executor.username }}</td>
            <td>
              <a href="{% url 'task_update' pk=task.pk %}" class="btn">{% translate 'edit' %}</a>
              <a href="{% url 'task_delete' pk=task.pk %}" class="btn red">{% translate 'delete' %}</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}